altgraph==0.17.2
autopep8==1.6.0
bcrypt==3.2.0
cffi==1.15.0
click==8.0.3
cryptography==36.0.1
importlib-metadata==4.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.5
peewee==3.14.8
pycodestyle==2.8.0
pycparser==2.21
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
six==1.16.0
sqlcipher3-binary==0.4.5
tabulate==0.8.9
toml==0.10.2
typing_extensions==4.0.1
Werkzeug==2.0.2
zipp==3.7.0
